@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model HelperLand.ViewModels.AdminViewModel

<section class="admin-section table-responsive">
    <div class="container d-flex justify-content-start">
        <div class="content1 table-responsive">
            <input type="radio" name="slider" checked id="a1" style="display: none;">
            <input type="radio" name="slider" id="a2" style="display: none;">
            <input type="radio" name="slider" id="a3" style="display: none;">
            <input type="radio" name="slider" id="a4" style="display: none;">
            <input type="radio" name="slider" id="a5" style="display: none;">
            <input type="radio" name="slider" id="a6" style="display: none;">
            <input type="radio" name="slider" id="a7" style="display: none;">
            <input type="radio" name="slider" id="a8" style="display: none;">
            <input type="radio" name="slider" id="a9" style="display: none;">
            <input type="radio" name="slider" id="a10" style="display: none;">
            <input type="radio" name="slider" id="a11" style="display: none;">
            <input type="radio" name="slider" id="a12" style="display: none;">
            <input type="radio" name="slider" id="a13" style="display: none;">

            <div class="list">
                <label for="a1" class="a1">
                    <span class="title">Service Management</span>
                </label>
                <label for="a2" class="a2">
                    <span class="title">Role Management</span>
                </label>
                <label for="a3" class="a3">
                    <span class="title">Coupon Code Management</span>
                </label>
                <label for="a4" class="a4">
                    <span class="title">Escalation Management</span>
                </label>
                <label for="a5" class="a5">
                    <span class="title">Service Requests</span>
                </label>
                <label for="a6" class="a6">
                    <span class="title">Service Providers</span>
                </label>
                <label for="a7" class="a7">
                    <span class="title">User Management</span>
                </label>
                <label for="a8" class="a8">
                    <span class="title">Finance Module</span>
                </label>
                <label for="a9" class="a9">
                    <span class="title">Zip Code Management</span>
                </label>
                <label for="a10" class="a10">
                    <span class="title">Rating Management</span>
                </label>
                <label for="a11" class="a11">
                    <span class="title">Inquiry Management</span>
                </label>
                <label for="a12" class="a12">
                    <span class="title">Newsletter Management</span>
                </label>
                <label for="a13" class="a13">
                    <span class="title">Content Management</span>
                </label>

                <span class="none"></span>
                <div class="slider"></div>
            </div>

            <div class="text-content">
                <div class="a1 text">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr class="table-heading">
                                    <th scope="col">Service Id</th>
                                    <th scope="col">Service Date</th>
                                    <th scope="col">Customer details</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <tr data-bs-toggle="modal" data-bs-target="#row1">
                                        <td></td>
                                        <td>
                                            <a href="#"><img src="~/images/calendar.png"></a>
                                            <span class="date"></span>
                                            <br>
                                            <span><img src="/assets/clock-blue.png">12:00 - 18:00</span>
                                        </td>
                                        <td></td>
                                        <td class="euro"> &euro;
                                        </td>
                                        <td>
                                            <button class="btn btn-primary export" data-bs-toggle="modal" data-bs-target=""></button>

                                        </td>
                                    </tr>
                                
                                
                            </tbody>
                        </table>
                        <form asp-action="CancelService" asp-controller="Customer" method="post">
                        
                            <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cancle Service Request </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Why you want to cancle the service request</p>
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                            </div>
                                        </div>
                                        <input  />
                                        <button type="submit" class="btn btn-primary export m-3">Cancle Now</button>
                                    </div>
                                </div>
                            </div>
                        
                        </form>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="show">Show</div>
                        <div class="dropdown">
                            <button class="btn btn-secondary button-dd dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">10
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">30</a></li>
                                <li><a class="dropdown-item" href="#">40</a></li>
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">55</a></li>
                            </ul>
                        </div>
                        <span class="show">entries</span>
                        <span class="show">Total Record: 55</span>

                        <div class="d-flex justify-content-end">
                            <a href="#"><i class="fa fa-step-backward chng-arw"></i></a>
                            <a href="#"><i class="fa fa-angle-left chng-arw"></i></a>
                            <span class="chng-num"><a href="#">1</a></span>
                            <span class="chng-num"><a href="#">2</a></span>
                            <span class="chng-num"><a href="#">3</a></span>
                            <span class="chng-num"><a href="#">4</a></span>
                            <a href="#"><i class="fa fa-angle-right chng-arw"></i></a>
                            <a href="#"><i class="fa fa-step-forward chng-arw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="a2 text">
                    new service request
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr class="table-heading">
                                    <th scope="col">Service Id</th>
                                    <th scope="col">Service Date</th>
                                    <th scope="col">Customer details</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    
                                    <tr data-bs-toggle="modal" data-bs-target="#row1">
                                        <td></td>
                                        <td>
                                            <a href="#"><img src="~/images/calendar.png"></a>
                                            <span class="date"></span>
                                            <br>
                                            <span><img src="/assets/clock-blue.png">12:00 - 18:00</span>
                                        </td>
                                        <td></td>
                                        <td class="euro"> &euro;
                                        </td>
                                        <td>
                                            <button class="btn btn-primary export" data-bs-toggle="modal" data-bs-target="" >Accept</button>

                                        </td>
                                    </tr>
                                
                                
                            </tbody>
                        </table>
                        
                        
                            <form asp-action="NewServiceRequestAccept" asp-controller="Helper" method="post">
                            
                                    <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Cancle Service Request </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Why you want to cancle the service request</p>
                                                    <div class="form-floating">
                                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                                    </div>
                                                </div>
                                                <input value="" />
                                                <button type="submit" class="btn btn-primary export m-3">Accept</button>
                                            </div>
                                        </div>
                                    </div>
                            
                            </form>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="show">Show</div>
                        <div class="dropdown">
                            <button class="btn btn-secondary button-dd dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">10
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">30</a></li>
                                <li><a class="dropdown-item" href="#">40</a></li>
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">55</a></li>
                            </ul>
                        </div>
                        <span class="show">entries</span>
                        <span class="show">Total Record: 55</span>

                        <div class="d-flex justify-content-end">
                            <a href="#"><i class="fa fa-step-backward chng-arw"></i></a>
                            <a href="#"><i class="fa fa-angle-left chng-arw"></i></a>
                            <span class="chng-num"><a href="#">1</a></span>
                            <span class="chng-num"><a href="#">2</a></span>
                            <span class="chng-num"><a href="#">3</a></span>
                            <span class="chng-num"><a href="#">4</a></span>
                            <a href="#"><i class="fa fa-angle-right chng-arw"></i></a>
                            <a href="#"><i class="fa fa-step-forward chng-arw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="a3 text">
                    upcomming service
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr class="table-heading">
                                    <th scope="col">Service Id</th>
                                    <th scope="col">Service Date</th>
                                    <th scope="col">Customer details</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    
                                    <tr data-bs-toggle="modal" data-bs-target="#row1">
                                        <td></td>
                                        <td>
                                            <a href="#"><img src="~/images/calendar.png"></a>
                                            <span class="date"></span>
                                            <br>
                                            <span><img src="/assets/clock-blue.png">12:00 - 18:00</span>
                                        </td>
                                        <td></td>
                                        <td class="euro"> &euro;
                                        </td>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-primary export" data-bs-toggle="modal" data-bs-target="">Cancel</button>

                                        </td>
                                    </tr>
                               
                                
                            </tbody>
                        </table>
                        
                        <form asp-action="UpcommingServiceCancel" asp-controller="Helper" method="post">
                            
                                <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Cancle Service Request </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Why you want to cancle the service request</p>
                                                <div class="form-floating">
                                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                                </div>
                                            </div>
                                            <input value="" />
                                            <button type="submit" class="btn btn-primary export m-3">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            
                        </form>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="show">Show</div>
                        <div class="dropdown">
                            <button class="btn btn-secondary button-dd dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">10
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">30</a></li>
                                <li><a class="dropdown-item" href="#">40</a></li>
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">55</a></li>
                            </ul>
                        </div>
                        <span class="show">entries</span>
                        <span class="show">Total Record: 55</span>

                        <div class="d-flex justify-content-end">
                            <a href="#"><i class="fa fa-step-backward chng-arw"></i></a>
                            <a href="#"><i class="fa fa-angle-left chng-arw"></i></a>
                            <span class="chng-num"><a href="#">1</a></span>
                            <span class="chng-num"><a href="#">2</a></span>
                            <span class="chng-num"><a href="#">3</a></span>
                            <span class="chng-num"><a href="#">4</a></span>
                            <a href="#"><i class="fa fa-angle-right chng-arw"></i></a>
                            <a href="#"><i class="fa fa-step-forward chng-arw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="a4 text">
                    service schedule
                </div>

                <div class="a5 text">
                    service history
                    <span class="service-header">Service History</span>
                    <span class="export">Export</span>
                    <table class="table">
                        <thead>
                            <tr class="table-heading">
                                <th scope="col">Service Id</th>
                                <th scope="col">Service Date</th>
                                <th scope="col">Customer Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#"><img src="~/images/calendar.png"></a> 
                                        <span class="date"></span>
                                        <br>
                                        <span><img src="~/images/small-watch-logo/layer-712.png">12:00 - 18:00</span>
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>

                    <div class="d-flex flex-row">
                        <div class="show">Show</div>
                        <div class="dropdown">
                            <button class="btn btn-secondary button-dd dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">10
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">30</a></li>
                                <li><a class="dropdown-item" href="#">40</a></li>
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">55</a></li>
                            </ul>
                        </div>
                        <span class="show">entries</span>
                        <span class="show">Total Record: 55</span>
                        <div class="d-flex justify-content-end">
                            <a href="#"><i class="fa fa-step-backward chng-arw"></i></a>
                            <a href="#"><i class="fa fa-angle-left chng-arw"></i></a>
                            <span class="chng-num"><a href="#">1</a></span>
                            <span class="chng-num"><a href="#">2</a></span>
                            <span class="chng-num"><a href="#">3</a></span>
                            <span class="chng-num"><a href="#">4</a></span>
                            <a href="#"><i class="fa fa-angle-right chng-arw"></i></a>
                            <a href="#"><i class="fa fa-step-forward chng-arw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="a6 text">
                    my-ratting
                </div>

                <div class="a7 text">
                    User Management
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead>
                                <tr class="table-heading">
                                    <th scope="col">Service Id</th>
                                    <th scope="col">Service Date</th>
                                    <th scope="col">Customer details</th>
                                    <th scope="col">Service Provider</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.serviceRequest) {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ServiceId)</td>
                                        <td>
                                            <a href="#"><img src="~/images/calendar.png"></a>
                                            <span class="date">@Html.DisplayFor(modelItem => item.ServiceStartDate)</span>
                                            <br>
                                            <span><img src="/assets/clock-blue.png">@Html.DisplayFor(modelItem => item.ServiceHours)12:00 - 18:00</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ServiceProvider)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <button class="" data-bs-toggle="modal" data-bs-target=""></button>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                        <form asp-action="CancelService" asp-controller="Customer" method="post">
                        
                            <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cancle Service Request </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Why you want to cancle the service request</p>
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                            </div>
                                        </div>
                                        <input  />
                                        <button type="submit" class="btn btn-primary export m-3">Cancle Now</button>
                                    </div>
                                </div>
                            </div>
                        
                        </form>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="show">Show</div>
                        <div class="dropdown">
                            <button class="btn btn-secondary button-dd dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">10
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">30</a></li>
                                <li><a class="dropdown-item" href="#">40</a></li>
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">55</a></li>
                            </ul>
                        </div>
                        <span class="show">entries</span>
                        <span class="show">Total Record: 55</span>

                        <div class="d-flex justify-content-end">
                            <a href="#"><i class="fa fa-step-backward chng-arw"></i></a>
                            <a href="#"><i class="fa fa-angle-left chng-arw"></i></a>
                            <span class="chng-num"><a href="#">1</a></span>
                            <span class="chng-num"><a href="#">2</a></span>
                            <span class="chng-num"><a href="#">3</a></span>
                            <span class="chng-num"><a href="#">4</a></span>
                            <a href="#"><i class="fa fa-angle-right chng-arw"></i></a>
                            <a href="#"><i class="fa fa-step-forward chng-arw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="a8 text">
                    My Setting
                    <div class="row">
                        <div class="col">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-mydetails-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-mydetails" type="button" role="tab"
                                        aria-controls="nav-mydetails" aria-selected="true">My details
                                    </button>
                                    
                                    <button class="nav-link" id="nav-changpass-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-changpass" type="button" role="tab"
                                        aria-controls="nav-changpass" aria-selected="false">Change password
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-mydetails" role="tabpanel" aria-labelledby="nav-mydetails-tab">
                                    <form asp-action="EditMyDetail" asp-controller="Helper" method="post">
                                        <h5>Basic Details</h5>
                                        <div class="row g-3 mt-2">
                                            <div class="col">
                                                <label class="mb-2">First name</label>
                                                <input value="" class="form-control" placeholder="First name" required/>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">Last name</label>
                                                <input value="" class="form-control" placeholder="Last name" required/>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">E-mail Address</label>
                                                <input value="" type="email" class="form-control" placeholder="email address" disabled>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <label for="MobileNumber" class="mb-2">Mobile Number</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="inputGroupPrepend2">+91</span>
                                                    <input value="" type="text" class="form-control" id="MobileNumber" placeholder="Mobile number" aria-describedby="inputGroupPrepend2" required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">Birthday</label>
                                                <input value="" type="datetime" id="birthday" class="form-control" required>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">Nationality</label>
                                                <input type="text" id="nation" class="form-control">
                                            </div>
                                        </div>
                                        <div class="">
                                            <p>Gender</p>
                                              <input type="radio" id="male" name="gender" value="Male">
                                              <label for="male">Male</label>
                                              <input type="radio" id="female" name="gender" value="Female">
                                              <label for="female">Female</label>
                                              <input type="radio" id="not" name="gender" value="Not">
                                              <label for="not">Rather Not to say</label>

                                        </div>

                                        <hr>
                                        <h5>My Address</h5>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <label class="mb-2">Streat Name</label>
                                                <input type="text" class="form-control" id="streetNameHelper" placeholder="Street Name" required>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">House Number</label>
                                                <input type="text" id="houseNumberHelper" class="form-control" placeholder="House Number" required>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2">Postal Code</label>
                                                <input type="number" id="postalCodeHelper" class="form-control" placeholder="Postal Code" >
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <label class="mb-2">City</label>
                                                <input type="text" id="cityHelper" class="form-control" placeholder="City" >
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col">
                                                <button type="submit" class="export2">Save</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                
                                <div class="tab-pane fade" id="nav-changpass" role="tabpanel" aria-labelledby="nav-changpass-tab">
                                    <form asp-action="ChangePass" asp-controller="Helper" method="post">
                                        <label class="mb-2 mt-2">Old Password</label>
                                        <input class="form-control mb-2" type="password" placeholder="Old Password" required>
                                        <label class="mb-2">New Password</label>
                                        <input class="form-control mb-2" type="password" placeholder="Password" required>
                                        <label class="mb-2">Confirm Password</label>
                                        <input class="form-control mb-2" type="password" placeholder="Confirm Password" required>
                                        <input type="submit" value="Save" class="export2"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="a9 text">
                    block-customer
                </div>

                <div class="a10 text">
                    block-customer
                </div>

                <div class="a11 text">
                    block-customer
                </div>

                <div class="a12 text">
                    block-customer
                </div>

                <div class="a13 text">
                    block-customer
                </div>
            </div>
        </div>
    </div>
</section>