@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var a = 0;
    var b = 0;

    var row1 = 0;
}

@model HelperLand.ViewModels.AdminViewModel

<header class="admin-header">
    <div class="admin-container container">
        <div class="admin-container-left-block">
            <p class="">Helperland</p>
        </div>

        <div class="admin-container-right-block">
            <a class="profile-photo" href="#">
                <img src="../images/profile-logo-man/forma-1.png">
            </a>
            <a href="#">
                @Model.AdminData.FirstName @Model.AdminData.LastName
            </a>
            <a asp-action="Logout" asp-controller="UserTable">
                <img class="power-button" src="../images/power-icon-png-19.png">
            </a>
        </div>
    </div>
</header>

<section class="admin-section table-responsive">
    <div class="container d-flex justify-content-start">
        <div class="content1 mt-3">
            <input type="radio" name="slider" checked id="a1" style="display: none;">
            <input type="radio" name="slider" id="a2" style="display: none;">
            <div class="list" style="float:left;">
                <label for="a1" class="a1">
                    <span class="title">Service Requests</span>
                </label>
                <label for="a2" class="a2">
                    <span class="title">User Management</span>
                </label>
                
                <span class="none"></span>
                <div class="slider"></div>
            </div>

            <div class="text-content" style="margin-left:10px;">
                <div class="a1 text">
                    <div class="table-responsive">
                        <div>
                            <h5>Service Requests</h5>
                        </div>
                        <div class="d-flex flex-row my-3 flex-wrap">
                            <div class="m-1">
                                <input class="form-control" type="text" id="Cserviceid" placeholder="Sevice ID">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="text" id="Cpostalcode" placeholder="Postal Code">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="email" id="Cemail" placeholder="Email">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="text" id="Ccustomer" placeholder="Customer"/>
                                @*<select class="form-control" id="Ccustomer">
                                    <option value="0" selected disabled hidden>Select Customer</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>*@
                            </div>
                            
                            </div>
                           <div class="user-management-2 d-flex flex-row my-3 flex-wrap">
                               <div class="m-1">
                                   <input class="form-control" type="text" id="Cserviceprovider" placeholder="Service Provider" />
                                    @*<select class="form-control" name="service-provider" id="Cserviceprovider">
                                        <option value="0" selected disabled hidden>Select Service Provider</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>*@
                                </div>
                                <div class="m-1">
                                    <input class="form-control" type="text" id="Cstatus" placeholder="Status" />
                                    @*<select class="form-control" id="Cstatus">
                                        <option value="0" selected disabled hidden>Select Status</option>
                                        <option value="1">New</option>
                                        <option value="2">Cancel</option>
                                        <option value="3">Accept</option>
                                        <option value="4">Comleted</option>
                                    </select>*@
                                </div>
                                <div class="m-1">
                                    <input class="form-control" type="text" id="Csppaymentstatus" placeholder="SP Payment Status" />
                                    @*<select class="form-control" id="Csppaymentstatus">
                                        <option value="0" selected disabled hidden>SP payment Status</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>*@
                                </div>
                                <div class="m-1">
                                    <input type="checkbox" id="cbhasissue" />
                                    <label for="cbhasissue">Has Issue</label>
                                </div>
                        </div>
                        <div class="user-management-2 d-flex flex-row my-3 flex-wrap">
                            <div class="m-1">
                                <input class="form-control" type="date" id="Cfromdate" placeholder="From Date">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="date" id="Ctodate" placeholder="To Date">
                            </div>
                            
                            <div class="m-1">
                                <button class="form-control btn btn-primary" id="search-inside-service-request" style="padding-left:60px;padding-right:60px;">Search</button>
                            </div>
                            <div class="m-1">
                                <button class="form-control btn btn-danger" id="clear-inside-service-request" style="padding-left:60px;padding-right:60px;">clear</button>
                            </div>
                        </div>

                        <table class="table" id="serviceRequestTable">
                            <thead>
                                <tr class="table-heading">
                                    <th id="serviceId" scope="col">Service Id</th>
                                    <th scope="col">Service Date</th>
                                    <th scope="col">Customer details</th>
                                    <th scope="col">Service Provider</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.serviceRequest) {
                                    b = b + 1;
                                    var b1 = "#dropdown" + b;

                                    var endtime = item.ServiceStartDate.TimeOfDay.Hours + item.ServiceHours;
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ServiceId)</td>
                                        <td>
                                            <a href="#"><img src="~/images/small-calender-logo/calculator.png"></a>
                                            <span class="date">@item.ServiceStartDate.ToString("dd/MM/yyyy")</span>
                                            <br>
                                            <span><img src="~/images/small-watch-logo/layer-712.png">
                                                @item.ServiceStartDate.TimeOfDay.Hours.ToString("00"):@item.ServiceStartDate.TimeOfDay.Minutes.ToString("00") - 
                                                @endtime.ToString("00"):@item.ServiceStartDate.TimeOfDay.Minutes.ToString("00")
                                            </span>
                                        </td>
                                        <td>
                                            @foreach(var item1 in Model.userBasicDataAdmin)
                                            {
                                                if (item1.ServiceRequestId == item.ServiceRequestId)
                                                {
                                                    @Html.DisplayFor(modelItem => item1.FirstName)<text>&nbsp;</text>
                                                    @Html.DisplayFor(modelItem => item1.LastName)
                                                    <br />
                                                    <img src="~/images/small-home-logo/layer-719.png" />@Html.DisplayFor(modelItem => item1.AddressLine1)<text>&nbsp;</text> @Html.DisplayFor(modelItem => item1.AddressLine2)<br />
                                                    @Html.DisplayFor(modelItem => item1.PostalCode)<text>&nbsp;</text> @Html.DisplayFor(modelItem => item1.City)

                                                    break;
                                                }
                                            }
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="hate-circle">
                                                    <img src="~/images/black-white-hat-logo/forma-1.png">
                                                </div>
                                                <div class="hate-circle-writting">
                                                    @Html.DisplayFor(modelItem => item.ServiceProvider.FirstName) @Html.DisplayFor(modelItem => item.ServiceProvider.LastName)
                                                        
                                                    @foreach(var item1 in Model.rattingdataList)
                                                    {
                                                        if (item1.serviceProviderId == item.ServiceProviderId)
                                                        {
                                                        @*<p>@item1.totalRatting</p>*@
                                                        if (item1.totalRatting >= 4.5)
                                                        {
                                                            <br>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                        }
                                                        else if (item1.totalRatting >= 3.5)
                                                        {
                                                            <br>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                        }
                                                        else if (item1.totalRatting >= 2.5)
                                                        {
                                                            <br>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                        }
                                                        else if (item1.totalRatting >= 1.5)
                                                        {
                                                            <br>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                        }
                                                        else if (item1.totalRatting >= 0.5)
                                                        {
                                                            <br>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                        }
                                                        else
                                                        {
                                                            <br>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                            <span class="fa fa-star unchecked"></span>
                                                        }
                                                    }
                                                    }
                                                    
                                                </div>
                                            </div>
                                            
                                        </td>
                                        <td id="status">
                                            @if (item.Status == 0)
                                            {
                                                <div class="status-button-new">
                                                </div>
                                            }
                                            else if(item.Status==1)
                                            {
                                                <div class="status-button-completed">
                                                </div>
                                            }
                                            else if(item.Status==5)
                                            {
                                                <div class="status-button-pending">
                                                </div>
                                            }
                                            else if(item.Status==2 || item.Status==4)
                                            {
                                                <div class="status-button-cancelled">
                                                </div>
                                            }
                                            else if (item.Status == 3)
                                            {
                                                <div class="status-button-refunded">
                                                </div>
                                            }
                                            else if (item.Status == 6)
                                            {
                                                <div class="status-button-accepted">
                                                </div>
                                            }
                                            
                                        </td>
                                        <td>
                                            <div class=@b1>
                                                @if (item.Status == Model.IdForCanceled)
                                                {
                                                   
                                                    <div class="three-dot-button" data-bs-toggle="dropdown">
                                                    </div>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Refund</a></li>
                                                        <li><a class="dropdown-item" href="#">Escalate</a></li>
                                                        <li><a class="dropdown-item" href="#">History Log</a></li>
                                                        <li><a class="dropdown-item" href="#">Download Invoice</a></li>
                                                    </ul>
                                                    <input asp-for="ServiceIdForAction" value=@item.ServiceId class="d-none">
                                                   
                                                }
                                                else if (item.Status == Model.IdForPending)
                                                {
                                                    
                                                        <div class="three-dot-button" data-bs-toggle="dropdown">
                                                        </div>
                                                        <ul class="dropdown-menu">
                                                            <li><button data-bs-toggle="modal" data-bs-target=@b1 type="submit" class="dropdown-item">Edit & Reschedule</button></li>
                                                            <li><a class="dropdown-item" href="#">Refund</a></li>
                                                            <li><a class="dropdown-item" href="#">Cancel</a></li>
                                                            <li><a class="dropdown-item" href="#">Change SP</a></li>
                                                            <li><a class="dropdown-item" href="#">Escalate</a></li>
                                                            <li><a class="dropdown-item" href="#">History Log</a></li>
                                                            <li><a class="dropdown-item" href="#">Download Invoice</a></li>
                                                        </ul>
                                                        <input asp-for="ServiceIdForAction" value=@item.ServiceId class="d-none">
                                                    
                                                }
                                                else if (item.Status == Model.IdForNew)
                                                {
                                                    
                                                        <div class="three-dot-button" data-bs-toggle="dropdown">
                                                        </div>
                                                        <ul class="dropdown-menu">
                                                            <li><button data-bs-toggle="modal" data-bs-target=@b1 class="dropdown-item">Edit & Reschedule</button></li>
                                                            <li><a class="dropdown-item" href="#">Cancel SR by Cust</a></li>
                                                            <li><a class="dropdown-item" href="#">Inquiry</a></li>
                                                            <li><a class="dropdown-item" href="#">History Log</a></li>
                                                            <li><a class="dropdown-item" href="#">Download Invoice</a></li>
                                                            <li><a class="dropdown-item" href="#">Other Transactions</a></li>
                                                        </ul>
                                                        <input asp-for="ServiceIdForAction" value=@item.ServiceId class="d-none">
                                                    
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                        @foreach (var item in Model.editServiceFromAdmin) {
                            row1 = row1 + 1;
                            var z1 = "dropdown" + row1;

                            var dateDisplay = item.ServiceStartDate.Date.Year.ToString("0000")+"-"+item.ServiceStartDate.Date.Month.ToString("00")+"-"+@item.ServiceStartDate.Date.Day.ToString("00");
                            var timeDisplay = item.ServiceStartDate.Date.Year.ToString("0000")+"-"+item.ServiceStartDate.Date.Month.ToString("00")+"-"+@item.ServiceStartDate.Date.Day.ToString("00")+" "+@item.ServiceStartDate.TimeOfDay.Hours.ToString("00")+":"+@item.ServiceStartDate.TimeOfDay.Minutes.ToString("00")+":00.000";
                            <form asp-action="EditAndReschedule" asp-controller="Admin">
                                <div class="modal fade" id=@z1 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Service Request</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                               <div class="row">
                                                   <input class="d-none" asp-for="editServiceRequestFromAdmin.ServiceRequestId" value=@item.ServiceRequestId />
                                                   <input class="d-none" type="datetime" asp-for="OldServiceDate" value=@timeDisplay />
                                                   <div class="col">
                                                       <label>Date</label>
                                                       <input asp-for="editServiceRequestFromAdmin.ServiceStartDate" value=@dateDisplay type="date" class="form-control" /> 
                                                    </div>

                                                    <div class="col">
                                                       <label>Time</label>
                                                       <input asp-for="editServiceRequestFromAdmin.ServiceStartTime" value="@item.ServiceStartDate.TimeOfDay" type="time" class="form-control" />
                                                   </div>
                                               </div>
                                               <div class="row mt-2">
                                                   <span><b>Service Address</b></span>
                                                   <div class="col">
                                                       <label>Street Name</label>
                                                       <input asp-for="editServiceRequestFromAdmin.StreetName" value=@item.StreetName type="text" class="form-control" /> 
                                                    </div>

                                                    <div class="col">
                                                       <label>House Number</label>
                                                       <input asp-for="editServiceRequestFromAdmin.HouseNumber" value=@item.HouseNumber type="number" class="form-control" />
                                                   </div>
                                               </div>
                                               <div class="row mt-2">
                                                   <div class="col">
                                                       <label>Postal Code</label>
                                                       <input asp-for="editServiceRequestFromAdmin.PostalCode" value=@item.PostalCode type="number" class="form-control" /> 
                                                    </div>

                                                    <div class="col">
                                                       <label>City</label>
                                                       <input asp-for="editServiceRequestFromAdmin.CityName" value=@item.CityName type="text" class="form-control" />
                                                   </div>
                                               </div>
                                               <div class="row mt-2">
                                                   <b>Why do you want to reschedule Service request?</b>
                                                   <div class="col">
                                                        <textarea class="form-control" placeholder="Why do you want to reschedule Service request?"></textarea>
                                                    </div>
                                               </div>
                                               <div class="row mt-2">
                                                   <b>Call center EMP Notes</b>
                                                   <div class="col">
                                                    <textarea class="form-control" placeholder="Enter Notes"></textarea>
                                                   </div>
                                               </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>


                <div class="a2 text">
                    <div class="table-responsive" style="max-width:1000px;">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>User Management</h5>
                            </div>
                            <div class="add-new-user-button">
                                <button type="button" id="add-new-button" class="btn btn-primary">
                                    <img src="images/add-new-user-plus-symbole/vector-smart-object.png">
                                    Add New User
                                </button>

                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap mt-3" style="max-width:1000px;">
                            <div class="m-1">
                                <input class="form-control" type="search" id="UMusername" placeholder="User name">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="search" id="UMusertype" placeholder="User Type">
                                @*<select class="form-control" typeof="search" name="" id="UMusertype">
                                    <option value="0" selected disabled hidden>User Type</option>
                                    <option value="1">User</option>
                                    <option value="2">Helper</option>
                                    <option value="3">Admin</option>
                                </select>*@
                            
                            </div>
                            @*<div class="m-1">
                                <input class="form-control" type="text" id="UMphonenumber" placeholder="Phone number">
                            </div>*@
                            <div class="m-1">
                                <input class="form-control" type="text" id="UMzipcode" placeholder="Zip code">
                            </div>
                            <div class="m-1">
                                <input class="form-control" type="text" id="UMCity" placeholder="Email">
                            </div>
                            <div class="m-1">
                                <button class="form-control btn btn-primary" id="search-inside-user-management" style="padding-left:60px;padding-right:60px;">Search</button>
                            </div>
                            <div class="m-1">
                                <button class="form-control btn btn-danger" id="clear-inside-user-management" style="padding-left:60px;padding-right:60px;">clear</button>
                            </div>
                        </div>

                        <div class="mt-3">
                            <table class="table" id="userManagementTable">
                                <thead>
                                    <tr class="table-heading">
                                        <th scope="col">User Name</th>
                                        <th scope="col">User Type</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Postal Code</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Radius</th>
                                        <th scope="col">User Status</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.userData) {
                                        <tr>
                                            <td id="UserName">@Html.DisplayFor(modelItem => item.FirstName)</td>
                                            @if(item.UserTypeId==1)
                                            {
                                                <td>Customer</td>
                                            }
                                            else if(item.UserTypeId==2)
                                            {
                                                <td>Service Provider</td>
                                            }
                                            else if(item.UserTypeId==3)
                                            {
                                                <td>Admin</td>
                                            }
                                            <td></td>
                                            <td>@item.ZipCode</td>
                                            <td>@Model.cityData[a].CityName</td>
                                            <td>Radius</td>
                                        
                                            <td>
                                                @if (@item.IsActive)
                                                {
                                                    <div class="status-button-active1"></div>
                                                }
                                                else
                                                {
                                                    <div class="status-button-deactive1"></div>
                                                }
                                            </td>
                                        
                                            <td>
                                                @if (item.IsActive == true)
                                                {
                                                    <form asp-action="ActiveOrDeactiveUser" asp-controller="Admin" method="post">
                                                    <div data-bs-toggle="dropdown" class="three-dot-button"></div>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                                        <li><button type="submit" class="dropdown-item">Deactive</button></li>
                                                        <li><a class="dropdown-item" href="#">Service History</a></li>
                                                    </ul>
                                                    <input asp-for="UserIdForAD" value=@item.UserId class="d-none">
                                                    </form>
                                                }
                                                else if (item.IsActive == false)
                                                {
                                                    <form asp-action="ActiveOrDeactiveUser" asp-controller="Admin" method="post">
                                                    <div data-bs-toggle="dropdown" class="three-dot-button"></div>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                                        <li><button type="submit" class="dropdown-item">Active</button></li>
                                                        <li><a class="dropdown-item" href="#">Service History</a></li>
                                                    </ul>
                                                    <input asp-for="UserIdForAD" value=@item.UserId class="d-none">
                                                    </form>
                                                }
                                            
                                            </td>
                                        </tr>
                                        a = a + 1;
                                    }
                                
                                </tbody>
                            </table>
                        
                            <form asp-action="CancelService" asp-controller="Customer" method="post">
                        
                                <div class="modal fade" id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Cancle Service Request </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Why you want to cancle the service request</p>
                                                <div class="form-floating">
                                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                                </div>
                                            </div>
                                            <input  />
                                            <button type="submit" class="btn btn-primary export m-3">Cancle Now</button>
                                        </div>
                                    </div>
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function(){

            $("#clear-inside-user-management").click(function(){
                $("#UMusername").val(null);
                $("#UMusertype").val(null);
                $("#UMphonenumber").val(null);
                $("#UMzipcode").val(null);
                $("#UMemail").val(null);
                //alert("ok");
            });

            $("#clear-inside-service-request").click(function(){
                $("#Cserviceid").val(null);
                $("#Cpostalcode").val(null);
                $("#Cemail").val(null);
                $("#Ccustomer").val(null);
                $("#Cserviceprovider").val(null);
                $("#Cstatus").val(null);
                $("#Csppaymentstatus").val(null);
                $("#cbhasissue").prop('checked',false);
                $("#Cfromdate").val("");
                $("#Ctodate").val("");

            });
            
            $('#serviceRequestTable').DataTable({"dom": 'rt<"bottom"lip><"clear">'});
            const table1=$('#serviceRequestTable').DataTable();
            $('#search-inside-service-request').click(function(){
                //alert("ok");
                var serviceId =$("#Cserviceid").val();
                var pcode=$("#Cpostalcode").val();
                var Email=$("#Cemail").val();
                var customer=$("#Ccustomer").val();
                var serviceProvider=$("#Cserviceprovider").val();
                var hasissue=$("#cbhasissue").prop('ckecked');
                
                if(serviceId !=null)
                {
                    console.log(serviceId);
                    table1.column([0]).search(serviceId).draw();
                }
                if(pcode !=null)
                {
                    console.log(pcode);
                    table1.column([2]).search(pcode).draw();
                }
                if(Email != null)
                {
                    console.log(Email);
                }
                if(customer != null)
                {
                    console.log(customer);
                    table1.column([2]).search(customer).draw();
                }
                if(serviceProvider != null)
                {
                    console.log(serviceProvider);
                    table1.column([3]).search(serviceProvider).draw();
                }
                if(Cstatus!=null)
                {
                    //console.log(Cstatus);
                    //table1.column([4]).search(Cstatus).draw();
                }
                if(hasissue==true)
                {
                    console.log(hasissue);
                }
            });

            $('#userManagementTable').DataTable({"dom": 'rt<"bottom"lip><"clear">'});
            const table2=$('#userManagementTable').DataTable();
            $('#search-inside-user-management').click(function(){
                var UName =$("#UserName").val();
                var UMPN=$("#UMphonenumber").val();
                var UMPC=$("#UMzipcode").val();
                var City=$("#UMCity").val();
                var UserType=$("#UMusertype").val();
                
                if(UName !=null)
                {
                    table2.column([0]).search(UName).draw();
                }
                
                if(UMPN != null){
                    
                }
                if(UMPC != null){
                    table2.column([3]).search(UMPC).draw();
                }
                if(City != null){
                    table2.column([4]).search(City).draw();
                }
                if(UserType != null){
                    console.log(UserType);
                    table2.column([1]).search(UserType).draw();
                }
            });

        });


    </script>
}
