@model HelperLand.ViewModels.BookServiceViewModel

@{
    ViewData["Title"] = "Book Service";
    var c = 0;
    var id = "Address";
    var ids = "";

    var HCount = 0;
    var idHelper = "Helper";
    var idsHelper = "";
}

<section class="book-service">
    <div>
        <div class="text-center">
            <h2>
                Book your cleaning service
            </h2>
        </div>
        <div class="d-flex justify-content-center">
            <div class="line1" style="margin-top:10px;margin-bottom:0;"></div>
            <img src="~/images/forma-1-copy-5.png" style="width:20px;height:20px;">
            <div class="line1" style="margin-top:10px;margin-bottom:0;"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 navigation">
                <section class="cust-user text-center">
                    <div class="container">
                        <div class="nav1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="first nav-link active" data-bs-toggle="tab" aria-current="page" href="#bookingService">Booking Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="second nav-link" data-bs-toggle="tab" aria-current="page" href="#timeSchedule">Time schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a class="third nav-link" data-bs-toggle="tab" aria-current="page" href="#yourData">your data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="forth nav-link" data-bs-toggle="tab" aria-current="page" href="#Payment">Pay now</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="tab-content content">
                            <div id="bookingService" class="tab-pane fade active in show">
                                <form>
                                    <div class="container text-start">
                                        <span>Please enter your zip code:</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7 col-md-5 form-group">
                                            <input asp-for="@Model.zipcode.ZipcodeValue" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" maxlength="6" placeholder="Postal code" />
                                        </div>

                                        <div class="col-sm-5">
                                            <button id="zipcodeavailable" class="btn btn-primary" type="button">Check Availability</button>
                                        </div>
                                    </div>
                                    <div>
                                        <span asp-validation-for="@Model.zipcode.ZipcodeValue" class="text-danger" id="postalcode-validation"></span>
                                    </div>
                                </form>
                            </div>

                            <div id="timeSchedule" class="tab-pane fade show">
                                <div class="container text-start">
                                    <div class="payment-step2 show">
                                        <form>
                                        <div class="step-content">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <span class="question">When do you want your helper to be with you?</span>
                                                <div class="form-group calculator-date-time row justify-content-between">
                                                    
                                                <div class="input-wrapper col-5">
                                                    <input asp-for="@Model.scheduleAndPlan.ServiceStartDate" class="form-control" type="date" style="width:150px;"/>
                                                </div>
                                                <div class="col-5">
                                                    <input asp-for="@Model.scheduleAndPlan.StartTime" type="time" class="form-control" />
                                                </div>

                                                
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="question cleaner-hour-picker">How long do you need your helper?</span>
                                                <select asp-for="@Model.scheduleAndPlan.ServiceHrs" class="form-control inline cleaner-hours">
                                                    <option value="3">3.0 Hours.</option>
                                                    <option value="3.5">3.5 Hours.</option>
                                                    <option value="4">4.0 Hours.</option>
                                                    <option value="4.5">4.5 Hours.</option>
                                                    <option value="5">5.0 Hours.</option>
                                                    <option value="5.5">5.5 Hours.</option>
                                                    <option value="6">6.0 Hours.</option>
                                                    <option value="6.5">6.5 Hours.</option>
                                                    <option value="7">7.0 Hours.</option>
                                                    <option value="7.5">7.5 Hours.</option>
                                                    <option value="8">8.0 Hours.</option>
                                                    <option value="8.5">8.5 Hours.</option>
                                                    <option value="9">9.0 Hours.</option>
                                                    <option value="9.5">9.5 Hours.</option>
                                                    <option value="10">10.0 Hours.</option>
                                                    <option value="10.5">10.5 Hours.</option>
                                                    <option value="11">11.0 Hours.</option>
                                                    <option value="11.5">11.5 Hours.</option>
                                                    <option value="12">12.0 Hours.</option>
                                                </select>
                                            </div>
                                            </div>
                                            <hr>
                                            <span class="question">additional services</span>
                                            <div class="extra-services">
                                                <input id="cabinetExtra" type="checkbox" class="">
                                                <input id="fridgeExtra" type="checkbox" class="">
                                                <input id="ovenExtra" type="checkbox" class="">
                                                <input id="laundryExtra" type="checkbox" class="">
                                                <input id="windowsExtra" type="checkbox" class="">
                                            <label class="service1">
                                               
                                                <div class="img-container">
                                                <div class="img-wrapper">
                                                    <img src="~/images/3.png">
                                                </div>
                                                </div>
                                                <span>Clean cabinet interiors</span>
                  
                                            </label>
                                            <label class="service2">
                                                
                                                <div class="img-container">
                                                <div class="img-wrapper">
                                                    <img src="~/images/5.png">
                                                </div>
                                                </div>
                                                <span>Cleaning the fridge</span>
                  
                                            </label>
                                            <label class="service3">
                                                
                                                <div class="img-container">
                                                <div class="img-wrapper">
                                                    <img src="~/images/4.png">
                                                </div>
                                                </div>
                                                <span>Cleaning the oven</span>
                  
                                            </label>
                                            <label class="service4">
                                                <div class="img-container">
                                                <div class="img-wrapper">
                                                    <img src="~/images/2.png">
                                                </div>
                                                </div>
                                                <span>washing and drying laundry</span>
                  
                                            </label>
                                            <label class="service5">
                                                
                                                <div class="img-container">
                                                <div class="img-wrapper">
                                                    <img src="~/images/1.png">
                                                </div>
                                                </div>
                                                <span>clean windows</span>
                                            </label>
                                            </div>
                                            <hr>
                                            <span class="question">Do you want to tell your helper something?</span>

                                            <div class="form-group">
                                                <textarea asp-for="@Model.scheduleAndPlan.Comments" class="form-control" maxlength="500" rows="3" placeholder="Do you want to tell your helper something?">
                                                </textarea>
                                            </div>

                                            <div class="">
                                                <label>
                                                    <input asp-for="@Model.scheduleAndPlan.HavePets" type="checkbox" />
                                                    <span>
                                                        I keep pets
                                                    </span>
                                                </label>
                                            </div>
                                            <hr />

                                            <div class="text-right">
                                            <button class="btn btn-primary btn-lg" type="button">Continue</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="yourData" class="tab-pane fade show">
                                <div class="container text-start">
                                    <div class="payment-step3 show">
                                          <div class="step-content">
                                              <span class="question">Please enter your address so that your helper can find you.</span>
                                              <div class="scenario2">
                                                <ul class="address-picker">
                                                    @foreach (var item in Model.userAddresses1) {
                                                        c = c + 1;
                                                        ids = id + (c);
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="Select_Address" id=@ids />
                                                                <span class="address-block">
                                                                <b>Address:</b> @Html.DisplayFor(modelItem => item.AddressLine1),@Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.PostalCode)
                                                                </span>
                                                                <span>
                                                                    <b>Telephone number:</b> @Html.DisplayFor(modelItem => item.Mobile)
                                                                </span>
                                                                <span class="radio-pointer"></span>
                                                            </label>
                                                        </li>

                                                    }
                                                </ul>
                                                <input type="text" id="totalAddress" value=@c disabled/>
                                                <div class="scenario1 hide">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Street</label>
                                                                <input asp-for="@Model.address.Street" class="form-control" placeholder="Street" />
                                                            </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">House number</label>
                                                                <input asp-for="@Model.address.HouseNumber" class="form-control" placeholder="House number" />
                                                            </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Postal code</label>
                                                                <input asp-for="@Model.address.PostalCode" class="form-control" readonly="true" placeholder="Postal code" />
                                                            </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">City</label>
                                                                <input asp-for="@Model.address.City" class="form-control" placeholder="City" />
                                                                
                                                            </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Phone nomber</label>
                                                                <div class="input-group">
                                                                <span class="input-group-addon">+49</span>
                                                                <input asp-for="@Model.address.Mobile" class="form-control" placeholder="Phone Number"/>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-primary" id="addressSave" type="button">Save</button>
                                                        <input class="btn btn-default add-new-address-close" type="button" value="discard">
                                                    </form>
                                                  
                                                </div>
                                                <input class="btn btn-primary btn-linear btn-thick scenario1-button" type="button" value="+ Add new address">
                                                <br />
                                                <br />
                                                
                                              </div>
                                              <hr class="hr">
                                              <div class="ServiceProviderList">
                                                  <div>You can choose service provider from bellow list</div>
                                                  @foreach (var item in Model.Helper) {
                                                    HCount = HCount + 1;
                                                    idsHelper = idHelper + (HCount);

                                                    <input type="radio" name="Helpers" id=@idsHelper>
                                                      @Html.DisplayFor(modelItem => item.FirstName)
                                                      
                                                  }
                                                  <input type="text" id="totalHelper" value=@HCount disabled/>
                                              </div>
                                              <div class="text-right">
                                                  <button class="btn btn-primary btn-lg" type="submit">Continue</button>
                                              </div>
                                          </div>
                                        </div>
                                </div>
                            </div>

                            <div id="Payment" class="tab-pane fade show">
                                <div class="container text-start">
                                    <div class="payment-step4 show">

                                          <div class="step-content">
                                            <form>

                                              <span class="question marginBottom20">Choose one of the following payment methods.</span>
                                              <div class="promo-code">
                                                
                                                  <span>Discount code (optional)</span>
                                                  <div class="row">
                                                    <div class="col-xs-7 col-sm-6 col-md-4">
                                                      <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="PromoCode" name="PromoCode" type="text" 
                                                      placeholder="Do you have a discount code? (optional)" data-placeholder="Do you have a discount code? (optional)">
                                                    </div>
                                                    <div class="col-xs-5 col-sm-3 col-md-2">
                                                      <button class="btn btn-primary btn-linear" id="btnApply" type="submit" disabled="">Use</button>
                                                    </div>
                                                  </div>
                                                
                                              </div>
                                              <hr>
                                              <div class="field input--focus StripeElement StripeElement--empty" ref="card">
                                                  <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; 
                                                        background: transparent !important; position: relative !important; opacity: 1 !important;">
                                                      <iframe name="__privateStripeFrame67715" frameborder="0" allowtransparency="true" scrolling="no" allow="payment *" 
                                                      src="https://js.stripe.com/v3/elements-inner-card-006cfb59170d91afbb71d5f371471a54.html#locale=de&amp;wait=false&amp;mids[guid]=4d09fb58-1ea3-449c-beec-eef29a8258d899d5fc&amp;mids[muid]=047aa14d-80f9-40fe-
                                                            8897-4c64a16a6cf70dc0d2&amp;mids[sid]=2c1b8e4c-9518-4b60-9ea6-881173d9190d1fb1db&amp;hidePostalCode=true&amp;style[base][iconColor]=%23666EE8&amp;style[base][color]=%2331325F&amp;style[base][lineHeight]=36px&amp;
                                                            style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23c5c5c5&amp;rtl=false&amp;componentName=card&amp;
                                                            keyMode=test&amp;apiKey=pk_test_CbN2mTsadzVC1WpDPDgcDWbG&amp;referrer=https%3A%2F%2Fweb1.anasource.com%2Ftrainee2021%2Fbook-service&amp;controllerId=__privateStripeController67711" 
                                                      title="Sicherer Eingaberahmen für Kartenzahlungen" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important;
                                                            overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; height: 36px;">
                                                    </iframe>
                                                    <input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" 
                                                    style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important;
                                                        width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div>
                                              

              
                                              <hr class="hr">
                                              <div class="checkbox1 small">
                                                <label>
                                                  <input id="cbpayment" type="checkbox" />
                                                  <span>
                                                    I accepted
                                                    <a data-bs-toggle="modal" href="#termsAndConditions" title="AGB">Conditions</a>,
                                                    the
                                                    <a data-bs-toggle="modal" href="#CancellationPolicyModal" title="Widerrufsbelehrung">Right of withdrawal</a>
                                                    and the
                                                    <a data-bs-toggle="modal" href="#privacy-policy-modal" title="Datenschutzbestimmungen">Privacy Policy</a>.
                                                    I confirm that Helperland will start executing the contract before the end of the cancellation period and that 
                                                    I will lose my right of cancellation as a consumer once the contract has been fully performed.
                                                  </span>
                                                </label>
                
                                              </div>
                                              <hr class="hr">
                                              <div class="text-right">
                                                <input id="acceptPay" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#serviceAccepted" type="button" value="Book with costs" disabled />
                                              </div>

                                              <div class="modal fade" id="termsAndConditions">
                                                    <div class="modal-dialog vertical-align-center">
                                                        <div class="vertical-alignment-helper">
                                                            <div class="modal-content">
                                                                Terms of Service
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                </div>
        
                                                                
                                                                <div class="modal-body">
                                                                    <p>
                                                                        1. Subject of the contract, definitions

                                                                        (1) The platform Helperland Helperland GmbH, Königswinterer Str. 116, 53227 Bonn (hereinafter: provider) offers a mediation platform for cleaning services to customers (hereinafter: customer). The following general terms and conditions apply exclusively to the business relationship between the provider and the customer in the version valid at the time of booking. Deviating general terms and conditions of the customer are not recognized unless the provider expressly agrees to their validity in writing.

                                                                        (2) The customer is a consumer within the meaning of § 13 BGB, insofar as the purpose of the ordered deliveries and services cannot be attributed predominantly to his commercial or independent professional activity. On the other hand, according to § 14 BGB, an entrepreneur is any natural or legal person or partnership with legal capacity who acts in the exercise of their commercial or independent professional activity when concluding the contract.

                                                                        2. Conclusion of contract

                                                                        (1) The customer can use the website www.helperland.de (hereinafter: "website") to order a cleaning service by filling out the booking form. By clicking on the “Book for a fee” button, he submits a binding application to commission the placement of a cleaner. Before sending the booking, the customer can change and view the data at any time. By clicking on the "Book with costs" button, the customer agrees to the validity of the General Terms and Conditions and the provisions on the right of withdrawal and data protection.

                                                                        (2) The provider accepts the customer's offer on behalf of the cleaner. The provider then sends the customer an order confirmation by e-mail, in which the customer's booking is listed again and which the customer can print out using the "Print" function. The contract is concluded when the provider submits the declaration of acceptance (order confirmation) between the customer and the cleaner. The text of the contract is stored in compliance with data protection.

                                                                        (3) All payments by the customer to the cleaner for the payment of the service are made via a licensed payment service provider on the basis of a payment service contract between the payment service provider and the cleaner. The provider brokers this payment service contract, but is not involved in the payment processing process and is not itself a party to the payment service contract.

                                                                        (4) The contract is concluded in German.

                                                                        3. Services

                                                                        (1) The provider provides the customer with a cleaner. The provider sends the customer's booking requests to a specific cleaner if the customer has selected them as a favorite helper. The provider is not liable for the implementation and fulfillment of the contracts for services by the cleaner.

                                                                        (2) If the cleaning staff preferred by the customer does not accept the request within 24 hours, the request will be forwarded to other cleaning staff.

                                                                        (3) The provider takes over the rebooking or cancellation for the customer by notifying the cleaning staff. Customers can manage the bookings themselves through the members' area of ​​the website.

                                                                        (4) The scope of the cleaning service is based on the information on the website and the order confirmation. Additional services are not owed.

                                                                        4. Customer Obligations

                                                                        (1) The customer undertakes to provide the necessary cooperation services in order to enable the provider to carry out his contractual services. Insofar as the customer's cooperation is required or certain prerequisites for the service provision by the provider must be created by the customer, the provider shall inform the customer of this in his offers on the website. These become part of the contract.

                                                                        (2) The provider points out in particular that the mediated cleaner must be given access to the premises to be cleaned.

                                                                        (3) As shown in paragraph 1, the provider is dependent on the cooperation of the customer. If insufficient cooperation on the part of the customer means that the services of the provider can no longer be provided, this does not affect the payment claim of the provider, i.e. the provider is entitled to bill for the services even if no service is provided due to the insufficient cooperation of the customer could.

                                                                        (4) The customer ensures that the provider is informed in advance of possible dangers in the premises (e.g. pets, stored chemicals).

                                                                        (5) The customer undertakes not to commission a commissioned cleaning worker outside of the platform. This also includes the agreement of additional services.</p>
                                                                    
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                              </div>

                                              <div class="modal fade" id="serviceAccepted">
                                                    <div class="modal-dialog vertical-align-center">
                                                        <div class="vertical-alignment-helper">
                                                            <div class="modal-content">
                                                                
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                </div>
        
                                                                
                                                                <div class="modal-body">
                                                                    <h3>Booking has been successfully submitted</h3>
                                                                    <div class="d-grid mt-4">
                                                                        <a class="btn btn-primary btn-lg d-block my-1" href='~/Home/Index'>OK</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <div class="modal fade payment-summary-modal" id="payment-summary-modal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="col-sm-5 col-md-4 payment-summary-wrapper-parent">
                          <div class="payment-summary-wrapper" style="">
                              <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                            <div class="payment-summary">
                              <h3 class="heading">
                                Payment Summary
                              </h3>
                              <div class="content">
                                <span id="date-update">@DateTime.Today.Date.Year.ToString("0000")-@DateTime.Today.Date.Month.ToString("00")-@DateTime.Today.Date.Day.ToString("00")</span>
                                <span id="time-update">08:00</span>
                    
                                <table>
                                  <thead>
                                    <tr>
                                      <th>Time</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr><td>Basic</td><td><p class="d-inline" id="BasicHour">3</p> Hours.</td></tr>
                                  </tbody>
                                </table>
                                <p><b>Additional Services</b></p>
                                <table class="extra-service-detail">
                                  <tbody>
                                    <tr class="service1 d-none">
                                      <td>Clean cabinet interiors</td>
                                      <td>30 min.</td>
                                    </tr>

                                    <tr class="service2 d-none">
                                      <td>Cleaning the fridge</td>
                                      <td>30 min.</td>
                                    </tr>

                                    <tr class="service3 d-none">
                                      <td>Cleaning the oven</td>
                                      <td>30 min.</td>
                                    </tr>

                                    <tr class="service4 d-none">
                                      <td>washing and drying laundry</td>
                                      <td>30 min.</td>
                                    </tr>

                                    <tr class="service5 d-none">
                                      <td>clean windows</td>
                                      <td>30 min.</td>
                                    </tr>

                                    <tr class="total-service-time">
                                      <td><b>total service time</b></td>
                                      <td><p><b id="tsrvedt">3.0</b> <b>Hours.</b></p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="content">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td>Per cleaning</td>
                                      <td><p><b id="perclprc">54.00</b> €</p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="content total-payment">
                                <table>
                                  <tbody><tr>
                                    <td>total price</td>
                                    <td><b id="totalprc">54.00</b>&nbsp;€</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">
                                      <p style="text-align: left;" class="no-sales-tax">According to § 19 UStG no sales tax will be charged.</p>
                                    </td>
                                  </tr>
                                  <tr class="effective-price">
                                    <td>Effective price*</td>
                                    <td>
                                      <div class="d-inline" id="effeprc">
                                         <b>43.20&nbsp;€</b>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody></table>
                                <p>
                                  <a data-bs-dismiss="modal" data-bs-toggle="modal" href="#moreInfoOn20Modal">
                                    <span>*</span>Save 20% according to 35a Income Tax Act (EStG).
                                  </a>
                                </p>
                              </div>
                              <div class="footer">
                                <img alt="Smiley" src="~/images/smiley.png">
                                <a data-bs-dismiss="modal" data-bs-toggle="modal" href="#servicesModal">Take a look at our included basic services</a>
                              </div>
                            </div>
                            <div class="payment-faq">
                              <h3>Questions?</h3>
                              <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                  <div class="panel-heading" id="heading0">
                                    <a class="collapsed" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapse0" title="Was ist in der Basisreinigung enthalten?">
                                      <img alt="Right Arrow" src="~/images/right-arrow-dark.png"> What is included in the basic cleaning?
                                    </a>
                                  </div>
                                  <div class="panel-collapse collapse" id="collapse0">
                                    <div class="panel-body">
                                      Living room, bedroom and bathroom, kitchen and common areas
                                    </div>
                                  </div>
                                </div><div class="panel panel-default">
                                  <div class="panel-heading" id="heading1">
                                    <a class="collapsed" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapse1" title="Kann ich Buchungen überspringen oder verschieben?">
                                      <img alt="Right Arrow" src="~/images/right-arrow-dark.png">Can I skip or move bookings?
                                    </a>
                                  </div>
                                  <div class="panel-collapse collapse" id="collapse1">
                                    <div class="panel-body">
                                      You can change a booking free of charge 48 hours before an assignment. If you want to skip an already booked assignment, we will credit the value of the booking to your account. 
                                      You can use the credit for a future booking.
                                    </div>
                                  </div>
                                </div><div class="panel panel-default">
                                  <div class="panel-heading" id="heading2">
                                    <a class="collapsed" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapse2" title="Muss ich während der Reinigung zu Hause sein?">
                                      <img alt="Right Arrow" src="~/images/right-arrow-dark.png">Do I have to be at home during the cleaning?
                                    </a>
                                  </div>
                                  <div class="panel-collapse collapse" id="collapse2">
                                    <div class="panel-body">
                                      We recommend that you be at home for the first cleaning. This way you get to know your helper personally. You can also show him the rooms and respond to your wishes. 
                                      Of course you can arrange an appointment or place for the key handover with your helper. With frequent bookings, some customers choose to leave a spare key to their cleaner.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <a href="~/Home/faq">More questions and answers</a>
                            </div>
                          <div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                              <div class="resize-sensor-expand" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                  <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 370px; height: 791px;"></div>
                              </div>
                              <div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                  <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div>
                              </div>
                          </div>
                          </div>
                          </div>
                        <div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                            <div class="resize-sensor-expand" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 400px; height: 1110px;"></div>
                            </div>
                            <div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div>
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function(){
            

            $("#bookingService button").click(function () {
                var model = {    
                    ZipcodeValue: $('#@Html.IdFor(x=>x.zipcode.ZipcodeValue)').val()
                }
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ZipCodeCheck", "BookingService")',
                    data: model,
                    dataType: "json",
                    success: function(data) {
                        //alert(JSON.stringify(data));
                        //alert("inside");
                        if(data)
                        {
                            //alert("found");
                            $(".book-service .navigation .nav-item a.first").removeClass("active");
                            $(".book-service .navigation .nav-item a.second").addClass("active");
                            $("#bookingService").removeClass("active");
                            $("#timeSchedule").addClass("active");
                            $('#@Html.IdFor(x=>x.address.PostalCode)').val(model.ZipcodeValue);
                        }
                        else{
                            alert("not found");
                        }
                    },
                    error: function(e) {
                       alert("Error: " + e);
                    }
                    
                });
            });

          
            

            $("#timeSchedule .text-right button").click(function () {
                $(".book-service .navigation .nav-item a.second").removeClass("active");
                $(".book-service .navigation .nav-item a.third").addClass("active");
                $("#timeSchedule").removeClass("active");
                $("#yourData").addClass("active");
                
            });



            ////////For Third Tab//////////////
            $(".add-new-address-close").click(function () {
                $('#@Html.IdFor(x=>x.address.Street)').val(null);
                $('#@Html.IdFor(x=>x.address.HouseNumber)').val(null);
                $(".scenario1-button").show();
                $(".scenario1").addClass("hide");
            });

            $("#addressSave").click(function(){
                var model = {
                    //Street:"abc",
                    Street: $('#@Html.IdFor(x=>x.address.Street)').val(),
                    HouseNumber: $('#@Html.IdFor(x=>x.address.HouseNumber)').val(),
                    Mobile: $('#@Html.IdFor(x=>x.address.Mobile)').val(),
                    PostalCode: $('#@Html.IdFor(x=>x.address.PostalCode)').val(),
                    City: $('#@Html.IdFor(x=>x.address.City)').val()

                }
                //alert(model.City);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("NewAddressSave", "BookingService")',
                    data: model,
                    //dataType: "json",
                    success: function() {
                        alert("Address Saved !");
                        $('#@Html.IdFor(x=>x.address.Street)').val(null);
                        $('#@Html.IdFor(x=>x.address.HouseNumber)').val(null);
                        $(".scenario1-button").show();
                        $(".scenario1").addClass("hide");
                    },
                    error: function(e) {
                       alert("Error: " + e);
                    }
                });
            });

            $("#yourData .text-right button").click(function () {
   ///////////////Save Scedule and Plan block//////////////////////
                var extraServices={
                    cabinetExtra:$("#cabinetExtra").prop('checked')==true,
                    fridgeExtra:$("#fridgeExtra").prop('checked')==true,
                    ovenExtra:$("#ovenExtra").prop('checked')==true,
                    laundryExtra:$("#laundryExtra").prop('checked')==true,
                    windowsExtra:$("#windowsExtra").prop('checked')==true
                }

                var exh=0.5*(extraServices.cabinetExtra+extraServices.fridgeExtra+extraServices.ovenExtra+extraServices.laundryExtra+extraServices.windowsExtra);

                var model2 = {
                    ServiceStartDate: $('#@Html.IdFor(x=>x.scheduleAndPlan.ServiceStartDate)').val(),
                    Code: $('#@Html.IdFor(x=>x.zipcode.ZipcodeValue)').val(),
                    StartTime: $('#@Html.IdFor(x=>x.scheduleAndPlan.StartTime)').val(),
                    ServiceHrs: $('#@Html.IdFor(x=>x.scheduleAndPlan.ServiceHrs)').val(),
                    Comments:$('#@Html.IdFor(x=>x.scheduleAndPlan.Comments)').val(),
                    ExtraHours:exh,
                    HavePets:$('#@Html.IdFor(x=>x.scheduleAndPlan.HavePets)').prop('checked')==true,
                    Total:$('#totalprc').text(),
                    saveHelper:(SaveHelper-1)
                }

                //alert(model2.StartTime);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveScheduleAndPlan", "BookingService")',
                    data: model2,
                    dataType: "json",
                    success: function(val1) {
                        if(val1==2){
                            alert("Date Shoud be Greater than today !");
                        }
                        else if(val1==1){
                            alert("Time Sould be Greater than current Time !");
                        }
                        else{
                            alert("Schedule And Plan Saved");
                        }
                        
                    },
                    error: function(e) {
                       alert("Error in scedule and plan : " + e);
                    }
                });
///////////////End Save Scedule and Plan block//////////////////////






   ///////////////Save ServiceRequestAddress block//////////////////////
                var modelServiceAdd={
                    saveadd : (SaveThis-1)
                }
                var add=SaveThis-1;
                //alert(add);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveServiceRequestAddress", "BookingService")',
                    data: modelServiceAdd,
                    //dataType: "json",
                    success: function() {
                        alert("Address Saved !");
                        $(".book-service .navigation .nav-item a.third").removeClass("active");
                        $(".book-service .navigation .nav-item a.forth").addClass("active");
                        $("#yourData").removeClass("active");
                        $("#Payment").addClass("active");
                    },
                    error: function(e) {
                       alert("Error in service request Address: " + e);
                    }
                });
///////////////End Save ServiceRequestAddress block//////////////////////
            });
///////////////End Of your Data event              //////////////////////



//////////////////Selecting Radio button which is selected///////////////////////
            var totalAddress=$("#totalAddress").val();
            var SaveThis = 0;
            var saveIdAddress="";
            //alert(totalAddress);
            $("ul.address-picker li label input").change(function () {
                for(var i = 1; i <= totalAddress; i++){
                    var combin="Address"+i;
                    
                    if($("#"+combin).prop("checked")){
                        SaveThis=i;
                        saveIdAddress=combin;
                        //alert(saveIdAddress);
                    }
                }
            });

            var totalHelper=$("#totalHelper").val();
            var SaveHelper = 0;
            var saveIdHelper="";
            //alert(totalAddress);
            $(".ServiceProviderList input").change(function () {
                for(var i = 1; i <= totalHelper; i++){
                    var combin1="Helper"+i;
                    
                    if($("#"+combin1).prop("checked")){
                        SaveHelper=i;
                        saveIdHelper=combin1;
                        //alert(saveIdHelper);
                    }
                }
            });
//////////////////End Selecting Radio button which is selected///////////////////////






            
        });
//////////////////End Of Document.ready///////////////////////



//////////////////Extra Services///////////////////////
        $(document).ready(function () {
            var service1 = $(".extra-services .service1 .img-container");
            var service2 = $(".extra-services .service2 .img-container");
            var service3 = $(".extra-services .service3 .img-container");
            var service4 = $(".extra-services .service4 .img-container");
            var service5 = $(".extra-services .service5 .img-container");

            var servimg1 = $(".extra-services .service1");
            var servimg2 = $(".extra-services .service2");
            var servimg3 = $(".extra-services .service3");
            var servimg4 = $(".extra-services .service4");
            var servimg5 = $(".extra-services .service5");

            var setborder = "3px solid #1d7a8c";

            var servdtl1 = $(".extra-service-detail .service1");
            var servdtl2 = $(".extra-service-detail .service2");
            var servdtl3 = $(".extra-service-detail .service3");
            var servdtl4 = $(".extra-service-detail .service4");
            var servdtl5 = $(".extra-service-detail .service5");

            var srvedit = Number($(".total-service-time td p #tsrvedt").text());
            var totalPrice = Number($("#perclprc").text());
                

            var extraServiceCount=0;
            var perExtraServicecharge=9;

            function cleanprcedtadd() {
                var price=Number($("#totalprc").text());
                var extraServicePrice=Number((extraServiceCount-1)*perExtraServicecharge);
                var excludeextra=price-extraServicePrice;
                $("#totalprc,#perclprc").text((excludeextra+extraServicePrice+perExtraServicecharge).toFixed(2));
                $("#effeprc").text(($("#totalprc").text()*0.8).toFixed(2));
            }
            function cleanprcedtsub() {
                var price=Number($("#totalprc").text());
                var extraServicePrice=Number((extraServiceCount+1)*perExtraServicecharge);
                var excludeextra=price-extraServicePrice;
                $("#totalprc,#perclprc").text((excludeextra+extraServicePrice-perExtraServicecharge).toFixed(2));
                $("#effeprc").text(($("#totalprc").text()*0.8).toFixed(2));
            }


            var st = $('#@Html.IdFor(x=>x.scheduleAndPlan.StartTime)');
            st.change(function () {
                var time = st.val();
                $("#time-update").text(time);
            });

            var st1 = $('#@Html.IdFor(x=>x.scheduleAndPlan.ServiceStartDate)');
            st1.change(function () {
                var time = st1.val();
                $("#date-update").text(time);
            });

            var st2 = $('#@Html.IdFor(x=>x.scheduleAndPlan.ServiceHrs)');
            st2.change(function () {
                var i3=Number(st2.val());
                $("#BasicHour").text(i3);
                //alert(i3);

                var extrahour=Number(extraServiceCount*0.5);
                //alert("extra hour="+extrahour);
                $("#tsrvedt").text(i3+extrahour);   
                

                var fatchtprc=Number($("#totalprc").text());
                var excludeextra=fatchtprc-Number(extraServiceCount*9);
                var thr = st2.val();
                var thrp=thr*18+Number(extraServiceCount*9);
                $("#totalprc,#perclprc").text(thrp.toFixed(2));
                $("#effeprc").text(($("#totalprc").text()*0.8).toFixed(2));
                
            });


            servimg1.click(function () {
                if (service1.css("border") == "1px solid rgb(200, 200, 200)") {
                    service1.css("border", setborder);
                    servdtl1.removeClass("d-none");
                    $("#cabinetExtra").prop('checked', true);
                    extraServiceCount+=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount-1)*0.5;
                    srvedit =basichour+ehour + 0.5;
                    cleanprcedtadd();
                        
                }
                else {
                    service1.css("border", "1px solid #c8c8c8");
                    servdtl1.addClass("d-none");
                    $("#cabinetExtra").prop('checked', false);
                    extraServiceCount-=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount+1)*0.5;
                    srvedit = basichour + ehour - 0.5;
                    cleanprcedtsub();
                }
                $(".total-service-time td p #tsrvedt").text(srvedit);
        
                
                    
            });

            servimg2.click(function () {
                if (service2.css("border") == "1px solid rgb(200, 200, 200)") {
                    service2.css("border", setborder);
                    servdtl2.removeClass("d-none");
                    $("#fridgeExtra").prop('checked', true);
                    extraServiceCount+=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount-1)*0.5;
                    srvedit =basichour+ehour + 0.5;
                    cleanprcedtadd();
                        
                }
                else {
                    service2.css("border", "1px solid #c8c8c8");
                    servdtl2.addClass("d-none");
                    $("#fridgeExtra").prop('checked', false);
                    extraServiceCount-=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount+1)*0.5;
                    srvedit = basichour + ehour - 0.5;
                    cleanprcedtsub();
                }
                $(".total-service-time td p #tsrvedt").text(srvedit);
            });

            servimg3.click(function () {
                if (service3.css("border") == "1px solid rgb(200, 200, 200)") {
                    service3.css("border", setborder);
                    servdtl3.removeClass("d-none");
                    $("#ovenExtra").prop('checked', true);
                    extraServiceCount+=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount-1)*0.5;
                    srvedit =basichour+ehour + 0.5;
                    cleanprcedtadd();
                    
                }
                else {
                    service3.css("border", "1px solid #c8c8c8");
                    servdtl3.addClass("d-none");
                    $("#ovenExtra").prop('checked', false);
                    extraServiceCount-=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount+1)*0.5;
                    srvedit = basichour + ehour - 0.5;
                    cleanprcedtsub();
                }
                $(".total-service-time td p #tsrvedt").text(srvedit);
            });

            servimg4.click(function () {
                if (service4.css("border") == "1px solid rgb(200, 200, 200)") {
                    service4.css("border", setborder);
                    servdtl4.removeClass("d-none");
                    $("#laundryExtra").prop('checked', true);
                    extraServiceCount+=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount-1)*0.5;
                    srvedit =basichour+ehour + 0.5;
                    cleanprcedtadd();
                        
                }
                else {
                    service4.css("border", "1px solid #c8c8c8");
                    servdtl4.addClass("d-none");
                    $("#laundryExtra").prop('checked', false);
                    extraServiceCount-=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount+1)*0.5;
                    srvedit = basichour + ehour - 0.5;
                    cleanprcedtsub();
                }
                $(".total-service-time td p #tsrvedt").text(srvedit);
            });

            servimg5.click(function () {
                if (service5.css("border") == "1px solid rgb(200, 200, 200)") {
                    service5.css("border", setborder);
                    servdtl5.removeClass("d-none");
                    $("#windowsExtra").prop('checked', true);
                    extraServiceCount+=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount-1)*0.5;
                    srvedit =basichour+ehour + 0.5;

                    //alert(srvedit);
                    cleanprcedtadd();
                        
                }
                else {
                    service5.css("border", "1px solid #c8c8c8");
                    servdtl5.addClass("d-none");
                    $("#windowsExtra").prop('checked', false);
                    extraServiceCount-=1;
                    
                    var basichour=Number($("#BasicHour").text());
                    var ehour=(extraServiceCount+1)*0.5;
                    srvedit = basichour + ehour - 0.5;

                    //alert(srvedit);
                    cleanprcedtsub();
                }
                $(".total-service-time td p #tsrvedt").text(srvedit);
            });

            






            //for payment button enable and disable
            $('#cbpayment').change(function () { 
                if ($("#cbpayment").is(':checked')) {
                    $("#acceptPay").prop("disabled", false);
                }
                else {
                    $("#acceptPay").prop("disabled", true);
                }
            });

    
        });
//////////////////End Of Document.ready///////////////////////

    </script>
}